{% load staticfiles %}
<html>
    <head>
        <title>Nit kkr tutorialpoint</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div>
        <h1><a href="/">Nit kkr tutorials</a></h1>
        </div>
        {{sha}}
        {{tutorials}}
        {% for tut in tutorials %}
        <div>
        <h1><a href="">{{ tut.title }}</a></h1>
        <p>published: {{ tut.publishedDate }}</p>
        <p>Rating: {{ tut.rating }}</p>
        <p>Content: {{ tut.content|linebreaks }}</p>
        <p>Complexity: {{ tut.complexity }}</p>
        </div>
        {% endfor %}
    </body>
</html>